@charset "utf-8";

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 90%;
    color: #1d1d1d;
}


section {
    text-align: left;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 100%;
    padding-top: 1em;
}

.menu {
    text-align: left;
    width: 0%;
    padding-bottom: 5px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 400;
    cursor: pointer;
    line-height: 1em;
}

.menu a:hover {
    font-style: italic;
}

a:hover {
    text-decoration-thickness: 1.2px; 
}

a:visited {
    color: #1d1d1d;
}


#contentContainer {
    margin: 0 auto;
    width: 90%;
    padding: 10px 2%;
}

#name {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#nameSmall {
    width: auto;
    float: right;
    height: 5em;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width:600px) {

    #contentContainer {
        width: 600px;
        padding-top: 20px;
    }
    
    section {
    width: 600px;
    }
    
}

