
/* mobile first */
html, body{
    width: 100%;
    height: 100%;
    background: #edecec;
    margin: 0;
	padding: 0%;
    font-family: 'Ubuntu', 'Trebuchet MS';
    font-weight: 300;
    font-size: 86%;
}
body{
    box-sizing: border-box;
}


h3{
    margin: 0;
    font-weight: 600;
    border-bottom: 1px solid black;
}



#contentContainer{
    width: 100%;
    padding: 1em 3em; 
    box-sizing: border-box;
    overflow-x: hidden;

}

section{
    padding: 0 0 .5em 0;
    margin-bottom: 1em;
    overflow: hidden;
    background-color: white;
    width: 100%;
}


a{
    text-decoration: none;
    color: inherit;
}
.item{    
    width: 100%;
    overflow: hidden;
    margin-top: .35em;
}

#contact .item, #home .item{
    width: 45%;
    float: left;

}

.title{
    font-weight: 500;
}

.content{
    line-height: 125%;
    margin-bottom: 0.3em;
}

#tip, #resume, #whitespace{
    display: none;
}
