@charset "utf-8";

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato','Trebuchet MS';
    font-weight: 300;
    font-size: 100%
}

#contentContainer {
    margin: 0 auto;
    width: 76%;
    padding: 13%;
    overflow: hidden
}

div,section {
    padding: 0 0 .5em
}

section {
    margin-bottom: 1em;
    overflow: hidden;
    background-color: #fff;
    width: 100%
}

h3 {
    font-weight: 700;
    font-size: 150%;
    border-bottom: 1px solid #000;
    padding-top: .2em;
    margin: 0 0 .5em
}

div {
    line-height: 1.3em
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 400
}

.clickable,a {
    cursor: pointer
}

a.clickable {
    text-decoration: underline
}

.clickable:hover {
    color: #fff;
    background-color: #000
}

@media (max-width:360px) {
    body {
        font-size: 110%
    }
}

@media (min-width:1200px) {
    #contentContainer {
        padding-top: 5vh;
        width: 800px
    }
}
