#u > .image {
  background-image: url(images/u.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#c > .image  {
  background-image: url(images/c.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#t > .image  {
  background-image: url(images/t.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#d > .image {
  background-image: url(images/d.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#s > .image {
  background-image: url(images/s.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#b > .image {
  background-image: url(images/b.svg);
  background-repeat: no-repeat;
	background-position: center; 
}



#e > .image {
  background-image: url(images/e.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#mu > .image {
  background-image: url(images/mu.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#tau > .image {
  background-image: url(images/tau.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#ve > .image {
  background-image: url(images/ve.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#vmu > .image {
  background-image: url(images/vmu.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#vtau > .image {
  background-image: url(images/vt.svg);
  background-repeat: no-repeat;
	background-position: center; 
}



#g > .image {
  background-image: url(images/g.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#y > .image {
  background-image: url(images/y.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#z > .image {
  background-image: url(images/z.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#w > .image {
  background-image: url(images/w.svg);
  background-repeat: no-repeat;
	background-position: center; 
}