#u{
  background-image: url(images/u.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#c{
  background-image: url(images/c.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#t{
  background-image: url(images/t.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#d{
  background-image: url(images/d.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#s{
  background-image: url(images/s.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#b{
  background-image: url(images/b.svg);
  background-repeat: no-repeat;
	background-position: center; 
}



#e{
  background-image: url(images/e.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#mu{
  background-image: url(images/mu.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#tau{
  background-image: url(images/tau.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#ve{
  background-image: url(images/ve.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#vmu{
  background-image: url(images/vmu.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#vtau{
  background-image: url(images/vt.svg);
  background-repeat: no-repeat;
	background-position: center; 
}



#g{
  background-image: url(images/g.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#y{
  background-image: url(images/y.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#z{
  background-image: url(images/z.svg);
  background-repeat: no-repeat;
	background-position: center; 
}

#w{
  background-image: url(images/w.svg);
  background-repeat: no-repeat;
	background-position: center; 
}