html, body {
  width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  background: LightGrey;
  
	font-family: brandon_grotesque;

}

#container{
  font-size: 120%;
  box-sizing: border-box;
  width: 40em;
  height: 40em;
  position: fixed;
  top: 10%;
  left: 10%;
  cursor: default;

}
.tile{
   
  width: 10em;
  height: 10em;
  box-sizing: border-box;
  
  border: 5px solid LightGrey;
  
  float: left;
  overflow: none;
  display: table;
}

.tile:hover {
  background-color: #999999;  
}

.image{
  width: 100%;
  height: 100%;
}

#quarks{  
  position: absolute;
  top: 0;
  left: 0;
  width: 30em;
  height: 20em;
  background: #FF9999;
}

#leptons{
  position: absolute;
  top: 20em;
  left: 0;
  width: 30em;
  height: 20em;
  background: #9999CC;
}

#force{
  position: absolute;
  top: 0px;
  left: 30em;
  width: 10em;
  height: 40em;
  background: #99CC99;
}

.name{
  display: none;
  font-weight: 600;
  font-size: 150%;
  padding: 0 10% 10% 10%;
  text-align: center;
}

.info{
  display: none;

  padding: 8  %;
}